.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-container {
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 700px;
        width: 400px;
        border-radius: 25px;
        border: 1px solid #39000054;

        .txt-header {
            margin-top: 25px;
        }

        .login-header {
            background: #ff3e3f;
            height: 35%;
            border-radius: 25px 25px 48% 49%;
        }

        div {
            text-align: center;
        }

        .login-form {
            padding: 25px;
            .input-group {
                height: 65px;
                input {
                    // background: #ff3e3f12;
                    height: 45px;
                }
            }
            .row-btn {
                margin-top: 12%;
                button:hover {
                    background: #f32121;
                }
                a {
                    color: #ff3e3f;
                }
                a:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .invalid-feedback {
                height: 20px;
            }
        }
    }
}

.btn {
    background: #ff3e3f;
    border-radius: 25px;
    color:#f2f2f2;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}
  
.invalid-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

  .loading-btn::after {
    content: '';
    display: block;
    width: 1.4em;
    height: 1.4em;
    margin-top: 3px;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.2em solid transparent;
    border-right-color: white;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }
  
  @keyframes button-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading-btn.loading {
    color: transparent;
  }
  
  .loading-btn.loading::after {
    opacity: 1;
  }
  