<div class="container">
    <img
    class="demo-bg"
    src="assets/bg.jpg"
    alt=""
  >
    <form class="form-box" [formGroup]="registrationForm" (ngSubmit)="register()">
        <div class="row txt-header">
            <h3>Register</h3>
        </div>
        <div class="row center-item">
            <div class="img-box">
                <i class="fas fa-user" *ngIf="!this.imgUrl"></i>
                <img class="profile-img" *ngIf="this.imgUrl" [src]="this.imgUrl">
            </div>
            <div class="row-btn">
                <input id="upload_file" type="file" name="image" (change)="onFileSelect($event)" style="display: none"
                    accept=".jpg" />
                <div class="browse_btn">
                    <label id="btn-upload-cert" for="upload_file" class="upload-btn">Upload</label>
                </div>
            </div>
        </div>
        <div class="register-form">
            <div class="input-group">
                <input type="text" class="form-control" formControlName="username" maxlength="12" placeholder="Username"
                    [ngClass]="isError('username')">
                <div class="below-msg">
                    <div *ngIf="this.isSubmit && this.registrationForm.get('username').errors" class="invalid-msg">
                        {{getParamErrorMsg('username')}}</div>
                    <div>You can use letters, numbers &
                        underscore</div>

                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="firstname" maxlength="50"
                    placeholder="Firstname" [ngClass]="isError('firstname')">
                <div class="below-msg">
                    <span *ngIf="this.isSubmit && this.registrationForm.get('firstname').errors"
                        class="invalid-msg">{{getParamErrorMsg('firstname')}}</span>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="lastname" maxlength="50" placeholder="Lastname"
                    [ngClass]="isError('lastname')">
                <div class="below-msg">
                    <span *ngIf="this.isSubmit && this.registrationForm.get('lastname').errors"
                        class="invalid-msg">{{getParamErrorMsg('lastname')}}</span>
                </div>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" formControlName="password" maxlength="12"
                    placeholder="Password" [ngClass]="isError('password')">
                <div class="below-msg">
                    <div *ngIf="this.isSubmit && this.registrationForm.get('password').errors" class="invalid-msg">
                        {{getParamErrorMsg('password')}}</div>
                    <div>Use 6 or more characters with a mix of letters, numbers & symbols</div>
                </div>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" formControlName="confirm_password" maxlength="12"
                    placeholder="Confirm Password" [ngClass]="isError('confirm_password')">
                <div class="below-msg">
                    <span
                        *ngIf="this.isSubmit && (this.registrationForm.get('password').value != this.registrationForm.get('confirm_password').value)"
                        class="invalid-msg">Confirm password does not match</span>
                </div>
            </div>
            <div class="row-btn">
                <button class="btn loading-btn" [ngClass]="this.loading ? 'loading' : ''" type="submit"><span
                        *ngIf="!this.loading">Sign Up</span></button>
            </div>
            <div class="row-btn">
                Already have an account? <a routerLink="/login">Login</a>
            </div>
        </div>
    </form>
</div>