<div class="home row">
    <div class="nav-tab-box sticky">
        <div class="custom-nav" style="list-style-type:none;">
            <div class="profile">
                <div class="profile-img">
                    <div class="img-box">
                        <i class="fas fa-user" *ngIf="!this.imgUrl"></i>
                        <img class="img" [src]="this.imgUrl">
                    </div>
                </div>
                <div class="profile-info">
                    <div class="info">{{this.userObj['firstname']}} {{this.userObj['lastname']}}</div>
                    <div class="edit-profile">Edit Profile</div>
                </div>
            </div>
            <div class="top-menu">
                <a class="nav-menu nav-menu-active">
                    <i class="far fa-address-card"></i>
                    <span class="menu-txt">Profile</span></a>
            </div>
            <div class="bottom-menu">
                <a class="nav-menu" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="menu-txt">Logout</span>
                </a>
            </div>
        </div>
    </div>

    <div class="body-content">
        <router-outlet #outlet name="home"></router-outlet>
    </div>
</div>