.nav-tab-box {
    background: #ff3e3f;
    min-width: 65px;
    height: 100vh;
    padding: 10px 3px;
    margin-left: 11px;
    width: 11%;
    .custom-nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            margin-bottom: 5px;
            .img-box {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #e3b4b4;
                width: 54px;
                height: 54px;
                border-radius: 27px;
                // border: 1px solid #ced4da;
                i {
                    color: #f7f7f7;
                    font-size: 28px;
                    margin-left: 14px;
                }
            }
            .profile-img img {
                width: 54px;
                border-radius: 27px;
            }
            .profile-info {
                color: #fff;
                padding: 10px;
                width: 100%;
                .info {
                    font-size: 0.85rem;
                    font-weight: 600;
                }
                .edit-profile {
                    cursor: pointer;
                    font-size: 0.7rem;
                    font-weight: 400;
                }
                .edit-profile:hover {
                    text-decoration: underline;
                    color: #ffffffd1;
                }
            }
        }

        .top-menu {
            display: flex;
            height: 80%;
        }

        .bottom-menu {
            display: flex;
            align-items: flex-end;
            height: 20%;
        }

        .nav-menu {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            padding: 0px 10px;
            align-items: center;
            font-weight: 600;
            font-size: 1rem;
            display: flex;
            height: 35px;
            .menu-txt {
                font-size: 0.8rem;
                margin-left: 5px;
            }
        }
        .nav-menu:hover {
            background: #f76363;
        }

        .nav-menu-active {
            background: #ffe4e4 !important;
            cursor: inherit;
            color: #e51010;
        }
    }
}

.row {
    margin-right: 0px;
}

.sticky {
    position: fixed;
}

.body-content {
    margin-left: 11%;
    width: 89%;
}

@media only screen and (max-width: 1024px) {
    .profile-info {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .nav-menu {
        display: flex;
        justify-content: center;
        .menu-txt {
            display: none;
        }
    }
}
