<div class="container">
    <form class="form-box col-12" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div class="row txt-header">
            <h3>Profile</h3>
        </div>
        <div class="row center-item">
            <div class="img-box">
                <i class="fas fa-user" *ngIf="!this.imgUrl"></i>
                <img class="profile-img" *ngIf="this.imgUrl" [src]="this.imgUrl">
            </div>
            <div class="row-btn" *ngIf="this.editProfile">
                <input id="upload_ca" type="file" name="image" (change)="onFileSelect($event)" style="display: none"
                    accept=".jpg" />
                <div class="browse_btn">
                    <label id="btn-upload-cert" for="upload_ca" class="upload-btn">Change</label>
                </div>
            </div>
        </div>
        <div class="register-form">
            <div class="row-btn-rect">
                <button class="btn btn-rect btn-rect-icon primary sm-btn loading-btn" (click)="enableEditProfile()"
                    *ngIf="!this.editProfile"><span><i class="fas fa-edit"></i>Edit Profile</span>&nbsp;</button>
            </div>
            <div class="input-group input-style2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                </div>
                <input type="text" class="form-control" [value]="this.userObj['username']" disabled>
            </div>
            <div class="input-group input-style2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Firstname</span>
                </div>
                <input type="text" class="form-control" formControlName="firstname" maxlength="50"
                    placeholder="Firstname" [ngClass]="isError('firstname')">
                <div class="below-msg">
                    <span *ngIf="this.isSubmit && this.profileForm.get('firstname').errors"
                        class="invalid-msg">{{getParamErrorMsg('firstname')}}</span>
                </div>
            </div>
            <div class="input-group input-style2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Lastname</span>
                </div>
                <input type="text" class="form-control" formControlName="lastname" maxlength="50" placeholder="Lastname"
                    [ngClass]="isError('lastname')">
                <div class="below-msg">
                    <span *ngIf="this.isSubmit && this.profileForm.get('lastname').errors"
                        class="invalid-msg">{{getParamErrorMsg('lastname')}}</span>
                </div>
            </div>

            <div class="form-check" *ngIf="this.editProfile">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (click)="this.changePassword($event)">
                <label class="form-check-label" for="flexCheckChecked">
                    Change Password
                </label>
            </div>
            <div class="input-group input-style2" *ngIf="this.enableChangePassword">
                <div class="input-group-prepend">
                    <span class="input-group-text">Old Password</span>
                </div>
                <input type="password" class="form-control" formControlName="old_password" maxlength="12"
                    placeholder="Old Password" [ngClass]="isError('old_password')">
                <div class="below-msg">
                    <span *ngIf="this.isSubmit && this.profileForm.get('old_password').errors"
                        class="invalid-msg">{{getParamErrorMsg('old_password')}}</span>
                </div>
            </div>
            <div class="input-group input-style2" *ngIf="this.enableChangePassword">
                <div class="input-group-prepend">
                    <span class="input-group-text">New Password</span>
                </div>
                <input type="password" class="form-control" formControlName="password" maxlength="12"
                    placeholder="Password" [ngClass]="isError('password')">
                <div class="below-msg">
                    <div *ngIf="this.isSubmit && this.profileForm.get('password').errors" class="invalid-msg">
                        {{getParamErrorMsg('password')}}</div>
                    <div>Use 6 or more characters with a mix of letters, numbers & symbols</div>
                </div>
            </div>
            <div class="input-group input-style2" *ngIf="this.enableChangePassword">
                <div class="input-group-prepend">
                    <span class="input-group-text">Confirm Password</span>
                </div>
                <input type="password" class="form-control" formControlName="confirm_password" maxlength="12"
                    placeholder="Confirm Password" [ngClass]="isError('confirm_password')">
                <div class="below-msg">
                    <span
                        *ngIf="this.isSubmit && (this.profileForm.get('password').value != this.profileForm.get('confirm_password').value)"
                        class="invalid-msg">Confirm password does not match</span>
                </div>
            </div>
            <div class="row-btn">
                <button class="btn btn-rect primary md-btn loading-btn" [ngClass]="this.loading ? 'loading' : ''"
                    type="submit" *ngIf="this.editProfile"><span *ngIf="!this.loading">Save</span></button>
                <button class="btn btn-rect secondary md-btn space-left" *ngIf="this.editProfile"
                    (click)="initForm()"><span>Cancel</span></button>
            </div>
        </div>
    </form>
</div>