/* You can add global styles to this file, and also import other style files */
body {
    background: #f2f2f2;
}


.input-style1 {
    border-radius: 25px !important;
}

.loading-btn::after {
    content: '';
    display: block;
    width: 1.4em;
    height: 1.4em;
    margin-top: 3px;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.2em solid transparent;
    border-right-color: white;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }
  
  @keyframes button-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading-btn.loading {
    color: transparent;
  }
  
  .loading-btn.loading::after {
    opacity: 1;
  }

  .below-msg {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: .9rem;
    font-size: .875em;
    color: #5f6368;
    text-align: left !important;
    padding-left: 15px;
  }

  .below-msg > div {
    text-align: left !important;
  }

  .invalid-msg {
    
    color: #dc3545;
}


.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.demo-content {
  position: relative;
}